<!-- Validation failure messages -->
<% if @listing.errors.any? %>
  <% @listing.errors.full_messages.each do |message| %>
    <div class="alert alert-dismissable alert-danger">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= message %>
    </div>
  <% end %>
<% end %>

<div class="page-header">
  <h3>Add Listing</h3>
</div>

<div class="row">
  <div class="col-md-12">
    <form action="/create_listing" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for type_id -->
      <div class="form-group">
        <label for="type_id" class="control-label">
          Type
        </label>

        <%= select_tag(:type_id, options_from_collection_for_select(Type.all, :id, :name, @listing.type_id), :class => "form-control") %>
      </div>

      <!-- Label and input for category_id -->
      <div class="form-group">
        <label for="category_id" class="control-label">
          Category
        </label>

        <%= select_tag(:category_id, options_from_collection_for_select(Category.all, :id, :name, @listing.category_id), :class => "form-control") %>
      </div>

      <!-- Label and input for name -->
      <div class="form-group">
        <label for="name" class="control-label">
          Name
        </label>

        <input type="text" id="name" name="name" placeholder="Name" class="form-control" value="<%= @listing.name %>">
      </div>

      <!-- Label and input for description -->
      <div class="form-group">
        <label for="description" class="control-label">
          Description
        </label>

        <textarea id="description" name="description" placeholder="Description" class="form-control" rows="3"><%= @listing.description %></textarea>
      </div>

      <!-- Label and input for price -->
      <div class="form-group">
        <label for="price" class="control-label">
          Price
        </label>

        <input type="text" id="price" name="price" placeholder="Price" class="form-control" value="<%= @listing.price %>">
      </div>

      <!-- Label and input for user_id -->
      <div class="form-group">
        <label for="user_id" class="control-label">
          User
        </label>

        <%= select_tag(:user_id, options_from_collection_for_select(User.all, :id, :id, @listing.user_id), :class => "form-control") %>
      </div>

      <!-- Label and input for images -->
      <div class="form-group">
        <label for="images" class="control-label">
          Images
        </label>

        <input type="text" id="images" name="images" placeholder="Images" class="form-control" value="<%= @listing.images %>">
      </div>

      <!-- Label and input for purchase_date -->
      <div class="form-group">
        <label for="purchase_date" class="control-label">
          Purchase date
        </label>

        <input type="text" id="purchase_date" name="purchase_date" placeholder="Purchase date" class="form-control" value="<%= @listing.purchase_date %>">
      </div>

      <!-- Label and input for link -->
      <div class="form-group">
        <label for="link" class="control-label">
          Link
        </label>

        <input type="text" id="link" name="link" placeholder="Link" class="form-control" value="<%= @listing.link %>">
      </div>

      <!-- Label and input for status -->
      <div class="checkbox">
        <label for="status">
          <input type="checkbox" id="status" name="status" value="1" <%= "checked" if @listing.status %>>
          Status
        </label>
      </div>

      <button class="btn btn-success">
        Create Listing
      </button>
      or
      <a href="/listings">Cancel</a>
    </form>
  </div>
</div>
