<div class="page-header">
  <h1>
    Shortlists
    <a href="/shortlists/new" class="btn btn-lg btn-success">New Shortlist</a>
  </h1>
</div>

<div class="row">
  <div class="col-md-12">
    <table class="table table-striped table-hover">
      <tr>
        <th>User</th>
        <th>Listing</th>
        <th>Actions</th>
      </tr>

      <% @shortlists.each do |shortlist| %>
      <tr>
        <td><%= shortlist.user.id %></td>
        <td><%= shortlist.listing_id %></td>
        <td>
          <a href="/shortlists/<%= shortlist.id %>" class="btn btn-primary">Show</a>
          <a href="/shortlists/<%= shortlist.id %>/edit" class="btn btn-warning">Edit</a>
          <a href="/delete_shortlist/<%= shortlist.id %>" class="btn btn-danger" rel="nofollow">Delete</a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>
